// --------------------------------------------------
// fonts
// --------------------------------------------------

$source: "Source Sans Pro", sans-serif;

$baseFontWeight: 400;
$baseFontSize: 20px;
$baseLineHeight: 1.5;
$baseFontFamily: $source;


// --------------------------------------------------
// colors
// --------------------------------------------------

$black: rgb(0,0,0);
$white: rgb(255,255,255);

$crimson: rgb(240,20,60);
$crimsonDark: shade($crimson, 15);
$crimsonLight: tint($crimson, 30);

$sandstone: rgb(120,110,100);
$sandstoneDark: shade($sandstone, 45);
$sandstoneDarker: shade($sandstone, 90);
$sandstoneLight: tint($sandstone, 60);
$sandstoneLighter: tint($sandstone, 90);


// --------------------------------------------------
// breakpoints and content widths settings
// --------------------------------------------------

$bodyWidth: 1920px;
$bodyHeight: 1080px;


// --------------------------------------------------
// speed
// --------------------------------------------------

$fast: 0.3s;
$slow: 1s;


// --------------------------------------------------
// images
// --------------------------------------------------

$backgroundPattern: url("../img/background-pattern.png");