// --------------------------------------------------
// base settings
// --------------------------------------------------

$siteWidth: 950px;


// --------------------------------------------------
// fonts
// --------------------------------------------------

$openSans: "Open Sans", sans-serif;
// below font family have only digits and bold style
$dsDigital: "ds-digitalbold", sans-serif;


$baseFontWeight: 300;
$baseFontSize: 14px;
$baseLineHeight: 1.5em;
$baseFontFamily: $openSans;


// --------------------------------------------------
// colors
// --------------------------------------------------

