.bonus-slider {
    margin: 1em 0;
    position: relative;

    .gog-icon {
        position: absolute;
        top: 50%;
        margin-top: -13px;
    }

    .gog-icon--arrow-left { left: -15%; }
    .gog-icon--arrow-right { right: -15%; }
}