.button {
    display: inline-block;
    @include border-radius(4px);
    height: 34px;
    line-height: 34px;
    text-decoration: none;
    color: $deepBlue;
    background: #ccc;
    padding: 0 0.7em;
    font-size: 13px;
    @extend strong;

    text-shadow: 0px 1px 0px rgba(white, 0.3);

    // similar to outer bevel but not the same
    @include box-shadow(0px 1px 2px rgba(black, 0.6), 0px 0px 0px 1px rgba(black,0.3), 0px 1px 0px rgba(white, 0.5) inset);
}

.button--green {
    background: #a6c500;
    @include background-image(linear-gradient(#a6c500, #6c9600));

    &:hover {
        @include background-image(linear-gradient(#a6c500, lighten(#6c9600, 5%)));
    }

    &:focus, &:active {
        @include background-image(linear-gradient(lighten(#6c9600, 5%), #a6c500));
    }
}

.button--inactive {
    cursor: default;
    @include opacity(0.5);
}