$gameBoxHorizontalPadding: 30px; // needed for inside space calculations

.game-box {
    background: url(../img/game-box/game-box-bg.jpg);
    width: $siteWidth;
    height: 444px;
    margin: 37px 0;
    @include border-radius(5px);
    @include box-sizing(border-box);
    padding: 25px $gameBoxHorizontalPadding;

    &.game-box--containing-3 {}

    hr {
    }
}

// signle game
.game {
    position: relative;
    float: left;
    // can change this if number of games changes, maybe with loop and array
    &.game--one-of-3 {
        $singleGameWidth: 281px;
        $spaceBetweenGames: ($siteWidth - $gameBoxHorizontalPadding*2 - $singleGameWidth*3)/2;
        margin-left: floor($spaceBetweenGames);
        width: $singleGameWidth;
    }
    &:first-child { margin-left: 0; }

    p {
        font-size: 12px;
        font-weight: 400;
        strong { font-weight: 600; }
    }
}

// image box
.game-image {
    width: 100%;
    height: 126px;
    position: relative;
    img {
        @include absolute-centered;
        @include transition(.4s);
        @include opacity(0);
    }
}

// available state
.game--available {
    .active-image {
        @include opacity(1);
    }
    &:before {
        @extend .gog-icons-plus;
        display: block;
        content: "";
        position: absolute;
        right: 100%;
        top: 40px;
    }
    &:first-child {
        &:before {
            display: none;
        }
    }
}

// not available state
.game--not-available {
    .inactive-image {
        @include opacity(1);
    }
}