.game-box {
    background: url(../img/game-box/game-box-bg.jpg);
    width: $siteWidth;
    height: 444px;
    margin: 37px 0;
    @include border-radius(5px);
    @include box-sizing(border-box);
    padding: 25px $sitePadding;
    position: relative;

    &.game-box--containing-3 {}
}

// signle game
.game {
    position: relative;
    float: left;
    // can change this if number of games changes, maybe with loop and array
    &.game--one-of-3 {
        $singleGameWidth: 281px;
        $spaceBetweenGames: ($siteWidth - $sitePadding*2 - $singleGameWidth*3)/2;
        margin-left: floor($spaceBetweenGames);
        width: $singleGameWidth;
    }
    // plus
    &:before {
        @extend .gog-icon--plus;
        display: block;
        content: "";
        position: absolute;
        right: 100%;
        top: 40px;
        @include transition(.25s);
        @include opacity(0);
        @include scale(0.3);
    }
    // first one doesn't have margin and plus
    &:first-child {
        margin-left: 0;
        &:before { display: none; }
    }
}

// image box
.game-image {
    width: 100%;
    height: 126px;
    position: relative;
    img {
        @include absolute-centered;
        @include transition(.4s);
        @include opacity(0);
    }
}

// available state
.game--available {
    .active-image {
        @include opacity(1);
    }
    &:before {
        @include opacity(1);
        @include scale(1);
    }
}

// not available state
.game--not-available {
    .inactive-image {
        @include opacity(1);
    }
}