// game box relation
.game-box .price-slider {
    position: absolute;
    bottom: 0; left: 0;
}

.price-slider {
    height: 160px;
    width: $siteWidth;
}

.price-range-limit, .slider-track {
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
}

.price-range-limit {
    @extend strong;
}

.slider-track, .slider-track-fill {
    $trackHeight: 12px;
    height: $trackHeight;
    @include border-radius($trackHeight/2);
}

.slider-track {
    width: 780px;
    margin: 30px 10px;
    position: relative;

    border: 1px solid #aaa;
    @include box-shadow(0px 1px 0px rgba(white, 0.75), 0px 0px 1px rgba(black, 0.25) inset);
    background: #c2c2c2;
    @include background-image(linear-gradient(#c2c2c2, #cfcfcf));
}

.slider-track-fill {
    position: absolute;
    left: -1px; top: -1px; // place for border

    border: 1px solid #5e7f00;
    @include box-shadow(0px 1px 0px rgba(#e7ff00, 0.67) inset, 0px 0px 5px rgba(#ffffbe, 0.26) inset);
    background: #7ca900;
    @include background-image(linear-gradient(#adc900, #7ca900));

    // debug
    width: 200px;
}