<figure ng-repeat="game in games" class="game game--one-of-{{games.length}}" ng-class="{'game--available': game.available, 'game--not-available': !game.available}">
    <div class="game-image">
        <img class="inactive-image" ng-src="assets/img/game-images/{{ game.slug }}-inactive.png" alt="">
        <img class="active-image" ng-src="assets/img/game-images/{{ game.slug }}.png" alt="">
    </div>
    <hr>
    <p>
        <em class="un-dotted">{{ game.name }}</em> ({{ game.priceDescription }})<br>
        <strong>{{ game.description }}</strong>
    </p>
    <hr>
    <p>
        <i class="icon gog-icons-green-tick"></i>
        {{ game.supportDescription }} <strong ng-if="game.price > 1">(from {{ game.price | currency }})</strong>
    </p>
</figure>
