body {
    background: url(../img/bg-pattern.png) repeat center top;
    // background top gradient exactly as in .psd
    &:before {
        position: absolute;
        content: "";
        display: block;
        @include background-image(linear-gradient(rgba(black, 0.5), rgba(black, 0)));
        height: 300px;
        width: 100%;
        left: 0; top: -60px;
        z-index: -1;
    }
}

.wrapper {
    width: $siteWidth;
    margin: 0 auto;
}


.column-2-of-3 {
    @include column(2, 3, $sitePadding);
}
.column-1-of-3 {
    @include column(1, 3, $sitePadding);
}