// --------------------------------------------------
// Simple column system build with inline-blocks and percents.
// Use the </end><!-- comment --><start> hack to truncate the white space.
// --------------------------------------------------


// --------------------------------------------------
// setup
// --------------------------------------------------

$columns: 3;


// --------------------------------------------------
// define a single or simple-fraction column
// --------------------------------------------------

@mixin column($amount:$columns, $context:$columns, $padding: 0px) {
    @include box-sizing(border-box);
    display: inline-block;
    width: $amount * (100 / $context) * 1%;
    vertical-align: top;
    @if $padding > 0 {
        padding-left: $padding;
        padding-right: $padding;
    }
}


// --------------------------------------------------
// create an empty space on the left
// --------------------------------------------------

@mixin push-left($offset:1, $context:$columns) {
    margin-left: $offset * (100 / $context) * 1%;
}


// --------------------------------------------------
// create an empty space on the right
// --------------------------------------------------

@mixin push-right($offset:1, $context:$columns) {
    margin-right: $offset * (100 / $context) * 1%;
}