// --------------------------------------------------
// for cross-browser styling of placeholders
// --------------------------------------------------

@mixin input-placeholder {
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin absolute-centered {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
}