<h1 class="dark-grey font-light">Pay what you want for the <strong>Divinity Bundle</strong> ($32 value!)</h1>

<ul class="ico-horizontal-list dark-grey font-light">
    <li>
        <i class="icon gog-icons-heart"></i>
        Support Larian Studios
    </li>
    <li>
        <i class="icon gog-icons-mouse"></i>
        Play Divinity 2&#58; DC before release
    </li>
    <li>
        <i class="icon gog-icons-unlock"></i>
        Get DRM&ndash;free games with goodies
    </li>
    <li class="rounded-delicate-glass">
        <i class="icon gog-icons-alarm-clock"></i>
        Only <strong>23&#58;54&#58;55</strong> left
    </li>
</ul>

<section class="game-box outer-bevel game-box--containing-{{games.length}}" ng-include="'app/partials/game-box.html'"></section>

<div class="column column-2-of-3">
    <h3 class="line-decorated">Goodies available for free with Divinity Bundle</h3>

    <i class="icon gog-icons-music"></i>
    <i class="icon gog-icons-book"></i>
    <i class="icon gog-icons-journal"></i>
    <i class="icon gog-icons-movie"></i>
    <i class="icon gog-icons-mac"></i>
    <i class="icon gog-icons-zip-file"></i>
</div><!--
--><div class="column column-1-of-3">
    <h3 class="line-decorated">Games sold so far</h3>

    <div ng-controller="gamesSoldCtrl">
        <div class="counter">
            <span class="digit">{{gamesSoldDigits.0}}</span>
            <span class="digit">{{gamesSoldDigits.1}}</span>
            <span class="digit">{{gamesSoldDigits.2}}</span>
            <span class="digit">{{gamesSoldDigits.3}}</span>
            <span class="digit">{{gamesSoldDigits.4}}</span>
            <span class="digit">{{gamesSoldDigits.5}}</span>
            <span class="digit">{{gamesSoldDigits.6}}</span>
        </div>

        <iframe ng-if="trailerAvailable" width="100%" ng-src="//www.youtube.com/embed/Mea7Pa3rhJU" frameborder="0" allowfullscreen></iframe>
    </div>

    <i class="icon gog-icons-check"></i>
    <i class="icon gog-icons-arrow-left"></i>
    <i class="icon gog-icons-arrow-right"></i>
</div>



