<h1 class="dark-grey">Pay what you want for the <strong>Divinity Bundle</strong> ($32 value!)</h1>

<ul class="ico-horizontal-list dark-grey">
    <li>
        <i class="icon gog-icons-heart"></i>
        Support Larian Studios
    </li>
    <li>
        <i class="icon gog-icons-mouse"></i>
        Play Divinity 2&colon; DC before release
    </li>
    <li>
        <i class="icon gog-icons-unlock"></i>
        Get DRM&ndash;free games with goodies
    </li>
    <li class="rounded-delicate-glass">
        <i class="icon gog-icons-alarm-clock"></i>
        Only <strong>23&colon;54&colon;55</strong> left
    </li>
</ul>


<section class="game-box outer-bevel game-box--containing-{{games.length}}" ng-include="'app/partials/game-box.html'"></section>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



<!-- angular progress http://mathewbyrne.github.io/angular-progress-arc/ -->
<!-- or https://github.com/crisbeto/angular-svg-round-progressbar -->

<!-- trailer https://www.youtube.com/watch?v=Mea7Pa3rhJU -->